/* 
    登录页css
    Created on : 2016-8-4, 23:57:11
    Author     : hj
*/
body,ul,li,div{margin:0;padding: 0;list-style: none;}
#wapper{width: 400px;height: 200px;position: absolute;top: 50%;left: 50%;border: 1px solid #414da7; border-radius: 5%;overflow: hidden;margin: -140px  0  0 -200px;}
#wapper div {margin: 5px auto;}
#wapper div div {display: inline-block;}
#wapper #header {background-color: #414da7;color: #fff;font-size: 18px;text-align: center;padding: 8px 0;margin-top: 0;}
#login {text-align: center;}
#pwd {text-align: center;}
#user-name {text-align: center;}
#tip {min-height: 40px;}
#other {text-align: right; padding-right: 100px}

